@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
    --bg-color: #f8fafc;
    --card-bg: #ffffff;
    --text-color: #1e293b;
    --border-color: #e2e8f0;
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    --primary-gradient: linear-gradient(135deg, #6366f1, #a855f7);
}

[data-theme="dark"] {
    --bg-color: #000000;
    --card-bg: #121212;
    --text-color: white;
    --border-color: #2d2d2d;
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 40px 20px;
    transition: all 0.3s ease;
}

.app-wrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.todo-head { text-align: center; }
h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    
}

#search-text {
    width: 100%;
    padding: 14px 20px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background: var(--card-bg);
    color: var(--text-color);
    outline: none;
    box-shadow: var(--shadow);
}


.div-input-grid {
    background: var(--card-bg);
    padding: 25px;
    border-radius: 16px;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 1fr 200px 120px;
    gap: 15px;
    border: 1px solid var(--border-color);
}

#description { grid-column: span 2; height: 50px; }
#category-text { grid-column: span 1; }
.status-btn { background: var(--bg-color); border: 1px solid var(--border-color); color: var(--text-color); }

input, textarea, select {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: var(--bg-color);
    color: var(--text-color);
    outline: none;
}

.add-button {
    background: var(--primary-gradient);
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-row {
    display: grid;
    grid-template-columns: 0.7fr 120px 120px 130px 120px 100px ;
    align-items: center;
    gap: 10px;
    background: var(--card-bg);
    padding: 12px 17px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    transition: 0.2s;
    position: relative;
}


.todo-row:hover {
    transform: translateX(8px);
    border-color: #6366f1;
}
.task-main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.task-top {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.task-desc {
    font-size: 12px;
    color: #64748b;
    padding-left: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-cat, .task-date {
    font-size: 13px;
    color: var(--text-color);
    opacity: 0.8;
}

.status-select {
    padding: 5px;
    font-size: 12px;
    border-radius: 6px;
}

.todo-row #delete-button {
    background: #e96767;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

    grid-column: 6;   /* last column */
    grid-row: 1;      /* first row */
    justify-self: end;
    align-self: center;
}


.todo-row #delete-button:hover {
    background: #d91b1b;
}


#themeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    background: var(--card-bg);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: var(--shadow);
    z-index: 1000;
}

.completed { text-decoration: line-through; opacity: 0.5; }