body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-color: #ffffff;
    color: #111111;
    transition: background 0.3s, color 0.3s;
}

body.dark {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark button {
    background-color: #1e1e1e;
    color: #ffffff;
}

.div-grid,
.div-input-grid {
    /* background-color: white; */
    /* box-shadow: rgb(14, 0, 0) 10px 0px 10px; */
}

.div-grid {
    border: 1px solid red;
}


/* .todo-head {
    display: flex;
    justify-content: space-between;
}

.todo-head button {
    width: 40px;
    height: 40px;
} */

.div-grid,
.div-input-grid {
    display: grid;
    grid-template-columns: 100px 400px 100px 100px 100px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.div-input-grid {
    margin-bottom: 10px;
}

#input-text {
    word-wrap: wrap;
    overflow: hidden;
    font-size: 16px;
    padding: 5px 10px;
    /* width: auto; */
    outline: none;
    overflow: hidden;
    word-break: break-all;
}

p {
    overflow: hidden;
    word-wrap: break-word;
    vertical-align: top;
}

#input-date {
    font-size: 16px;
    padding: 5px 5px;
    /* width: 300px; */
    width: 100%;
    cursor: pointer;
}

.add-button {
    background-color: green;
    border: none;
    font-size: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
}

button {
    padding: 5px 15px;
}

.checkbox {
    cursor: pointer;
}

input,
select {
    padding: 5px 10px;
}

.completed {
    text-decoration: line-through;
    color: red
}

#delete-button {
    background-color: #c42e2e;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}

@media (max-width:768px) {
    body {
        font-size: 16px;
        padding: 10px 10px;
    }
    .div-grid,
    .div-input-grid {
        display: grid;
        grid-template-columns: 50px 130px 90px 80px 80px 50px;
    }
}

@media (max-width:1200) {
    body {
        font-size: 16px;
        padding: 10px 10px;
    }
    .div-grid,
    .div-input-grid {
        display: grid;
        grid-template-columns: 70px 130px 90px 80px 80px 50px;
    }
}