body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.div-grid,
.div-input-grid {
    background-color: grey;
    /* box-shadow: rgb(14, 0, 0) 10px 0px 10px; */
}

.div-grid,
.div-input-grid {
    display: grid;
    grid-template-columns: 400px 100px 100px;
    column-gap: 10px;
    color: white;
    row-gap: 10px;
    align-items: center;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.div-input-grid {
    margin-bottom: 10px;
}

#input-text {
    word-wrap: wrap;
    overflow: hidden;
    font-size: 16px;
    padding: 5px 10px;
    /* width: auto; */
    outline: none;
    overflow: hidden;
    word-break: break-all;
}

p {
    overflow: hidden;
    word-wrap: break-word;
    vertical-align: top;
}

#input-date {
    font-size: 16px;
    padding: 5px 5px;
    /* width: 300px; */
    width: 100%;
    cursor: pointer;
}

.add-button {
    background-color: green;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

#delete-button {
    background-color: #c42e2e;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}

@media (max-width:768px) {
    body {
        font-size: 16px;
    }
    .div-grid,
    .div-input-grid {
        display: grid;
        grid-template-columns: 130px 90px 80px;
    }
}